# MacOS
.DS_Store

### vs ###
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio 2015/2017 cache/options directory
.vs/

*/bin
*/obj
*/lib
*/build
/Grasshopper-BricsCAD/.vshistory/Grasshopper-BricsCAD-Connection.csproj
/Grasshopper-BricsCAD/GH/.vshistory/ParameterTypes.cs
/Grasshopper-BricsCAD/.vshistory
/Grasshopper-BricsCAD/GH/Components/.vshistory
/Grasshopper-BricsCAD/Properties/.vshistory
/Grasshopper-BricsCAD/Visualization/.vshistory
/Grasshopper-BricsCAD-UI/Properties/.vshistory/AssemblyInfo.cs
/GrasshopperData/.vshistory/GhDataApp.vcxproj
/GrasshopperDataManaged/.vshistory/GhDataManaged.vcxproj
